

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.title {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    line-height: 2;
    display: none;
}

.navbar-brand {
	font-family: 'Anton', sans-serif;
	font-size: 2em;
}

.title span, .navbar-brand span {
    color: #6b8e23;
}

.footer-brand {
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

.footer-brand span {
    color: #9acd32;
}

.site-wrapper {
	background-image: url('../img/mainFlowers.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: center center;
}

.navbar-green {
	background-color: #9acd32;
}

.greenTheme {
	background-color: #6b8e23;
}

.jumbotron {
	color: #6b8e23;
	text-decoration: none;
}

footer {
	font-size: 1em;
	margin-bottom: 55px;
}

.john {
	display: none;
}

.mobileFooter {
	display: block;
    position:fixed;
    left:0px;
    bottom:0px;
    height:55px;
    line-height: 55px;
    width:100%;
    text-align: center;
}

.mobileFooter a {
    float: left;
    width: 49.8%;
    height: 100%;
    background: #b22222;
    color: white;
    border-right: 1px solid #8b0000;
    opacity: 0.8;
    text-decoration: none;
}

.mobileFooter a:last-child {
    background: #4692b4;
    border-right: none;
}

.navbar-header {
	font-size: 12px;
}


/*Media Queries*/

@media (min-width: 768px) {
	.title {
		display: block;
	}

	.mobileFooter {
		display: none;
	}

	.john {
		display: block;
	}

	footer {
		font-size: 1.3em;
	}

	.navbar-header {
	font-size: 20px;
    }

    .img-zoom {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    z-index: 1;
    position: relative;
    }
 
    .transition {
    -webkit-transform: scale(2); 
    -moz-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -moz-box-shadow: 0 0 10px #ccc;
     -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc; 
    z-index: 4;
    }
}














