

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.title {
    font-family: 'Anton', sans-serif;
    font-size: 4em;
    line-height: 2;
    display: none;
}

.navbar-brand {
	font-family: 'Anton', sans-serif;
	font-size: 2em;
}

.title span, .navbar-brand span {
    color: #6b8e23;
}

.site-wrapper {
	background-image: url('../img/mainFlowers.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent;
	background-position: center center;
}

.navbar-green {
	background-color: #9acd32;
}

.greenTheme {
	background-color: #6b8e23;
}

.jumbotron {
	color: #6b8e23;
	text-decoration: none;
}

footer {
	font-family: 'Anton', sans-serif;
}


/*Media Queries*/

@media (min-width: 768px) {
	.title {
		display: block;
	}
}












